<section class="home">
  <mat-toolbar>
    <span>
      <mat-icon>code</mat-icon>
      ProjectDome
    </span>

    <span class="example-fill-remaining-space"></span>

    <nav>
      <ul>
        <li>
          <a routerLink="/login" class="btn">
            <mat-icon>https</mat-icon>
            Login
          </a>
      </li>
      <li>
          <a routerLink="/register" class="btn">
            <mat-icon>assignment_ind</mat-icon>
            Register
          </a>
      </li>
      </ul>
    </nav>
  </mat-toolbar>
  <h5>Collaborations of developers on projects made easy.</h5>
</section>
